# Binary files (images, audio, video, etc.)
*.zip     filter=lfs diff=lfs merge=lfs -text

# Large documents or binary formats
*.pdf     filter=lfs diff=lfs merge=lfs -text
*.psd     filter=lfs diff=lfs merge=lfs -text

# Unity-specific large files
*.unitypackage	filter=lfs diff=lfs merge=lfs -text

# Libraries
FirebaseCppApp-* filter=lfs diff=lfs merge=lfs -text
